
body { margin: 0;
  padding: 0;
  font-family: 'Playfair Display';background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),url("https://www.wallpaperboulevard.com/Images/product/crocodile-skin-ppak-l.jpg"); background-size: cover; background-position: center;background-attachment: fixed;}

h1 {color: #423004;
text-align: center;font-size: 70px;}

h2 {color: #F7EBCB;
text-align: center;font-size: 50px;}

h3 {color: #423004;
text-align: center;font-size: 35px}

h4 {color: #423004;
text-align: center;font-size: 35px;}

h5 {color: #423004;
text-align: center;font-size: 70px;}

table {border: 3px solid #C9A227;
border-color: #F7EBCB;}

td {border: 2px solid #C9A227;
border-color: #F7EBCB;}

p {font-size: 25px;
text-align: center;color: #856C44; font-weight: bold;}

ul {list-style-type: square;}

img {border-width: 2px;border: 2px solid #C9A227;
border-color: #423004;border-radius: 10px;}

.navbar{display:flex;
justify-content:space-between;
align-items:center;padding:20px 50px;background-color:#1A1A1A;
border-bottom:1px solid #F7EBCB;
position:sticky;top:0;}

.logo{color:#F7EBCB;
font-size:22px;
letter-spacing:3px;
text-decoration:none;
font-weight:bold;}

.menu a{margin-left:30px;
text-decoration:none;
color:white;
font-size:14px;
letter-spacing:1px;
transition:0.3s;}

.menu a:hover{color:#F7EBCB;}

.gallery {display: flex;
  justify-content: center;
  gap: 40x;
  flex-wrap: wrap;
  padding: 40px}

.gallery img {width: 230px;
  height: autoU;
  object-fit: cover;
  transition: 0.3s;
  border-radius: 10px}

.gallery img:hover {transform: scale(1.05);}


.card {text-align: center;
  width: 320px;}

.card img { width: 100%;
  height: 400px;
  object-fit: cover;
  transition: 0.3s;
  border-radius: 10px;
 filter: grayscale(20%);}

.card img:hover {transform: scale(1.05);}

.card p { margin-top: 10px;
  font-size: 16px;
  color: #423004;}

.news-layout {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 40px;
  align-items: start;
}

.news-main img {
  width: 100%;
  height: auto;
  object-fit: contain;
  background-color: #000;
  border-radius: 10px;
}

.news-main h3 {
  font-size: 35px;
  margin-top: 15px;
  color: #423004;
}

.news-main p {
  font-size: 25px;
  color: #F7EBCB;
}

.news-side {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.news-card {
  width: 100%;
}

.news-card img {
  width: 100%;
  max-height: 320px;
  object-fit: contain;
  object-position: center;
  border-radius: 10px;
}

.news-card img:hover {
  transform: scale(1.03);
}

.news-card h3 {
  font-size: 20px;
  margin-top: 10px;
  color: #423004;
}

.news-card p {
  font-size: 16px;
  color: #F7EBCB;
}
.news-main a {
  text-decoration: none;
  color: inherit;
}


.news-card img {
  border: none;
}

.news-card a {
  text-decoration: none;
  color: inherit;
}
.label {
  font-size: 25px;
  letter-spacing: 2px;
  color: #423004;
  margin-bottom: 20px;
}